@charset "UTF-8";
#employee-div {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 140px);
  justify-content: center;
  align-items: start;
  position: relative;
  padding-bottom: 50px;
  background: linear-gradient(90deg, rgb(42, 123, 155) 0%, rgb(0, 217, 90) 100%, rgb(237, 221, 83) 100%);
}
#employee-div .searchButton {
  position: absolute;
  top: 150px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px 5px;
  max-width: 440px;
  justify-content: center;
  align-items: center;
}
#employee-div .searchButton__button {
  border-radius: 25px;
  padding: 5px 10px;
  width: 112px;
}
#employee-div .searchButton__button.is-active.asc::after {
  content: "▴";
}
#employee-div .searchButton__button.is-active.desc::after {
  content: "▾";
}
#employee-div .searchButton span {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
#employee-div .tableContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
#employee-div .tableContainer .tableWrap {
  position: relative;
  width: 100%;
  max-width: 1200px;
}
#employee-div .tableContainer .tableWrap .employee-table-length {
  position: absolute;
  top: 110px;
  left: 0;
  margin-left: 20px;
  color: #fff;
}
#employee-div .tableContainer .tableWrap #employee-searchBar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: clamp(3.75rem, -1690rem + 5000vw, 6.875rem);
  border-radius: 10px;
  border: none;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  padding: 5px 10px 5px 10px;
}
#employee-div .tableContainer .tableWrap .table-info {
  position: absolute;
  top: 110px;
  right: 0;
  margin-right: 20px;
  color: #fff;
}
#employee-div .tableContainer .tableWrap .employees-table {
  width: calc(100% - 40px);
  max-width: 1200px;
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  border-spacing: 0;
  /* MOBILE: tout en blocs */
}
#employee-div .tableContainer .tableWrap .employees-table caption {
  margin-bottom: 250px;
  font-size: 22px;
  font-weight: 800;
  text-align: center;
  color: white;
}
#employee-div .tableContainer .tableWrap .employees-table thead {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
#employee-div .tableContainer .tableWrap .employees-table tbody,
#employee-div .tableContainer .tableWrap .employees-table tr,
#employee-div .tableContainer .tableWrap .employees-table th,
#employee-div .tableContainer .tableWrap .employees-table td {
  display: block;
  padding: 0;
  text-align: left;
  white-space: normal;
}
#employee-div .tableContainer .tableWrap .employees-table tbody {
  position: relative;
}
#employee-div .tableContainer .tableWrap .employees-table tbody tr {
  margin-bottom: 16px;
  border: 1px solid rgb(134, 188, 37);
  background-color: rgb(255, 255, 255);
}
#employee-div .tableContainer .tableWrap .employees-table td {
  padding: 10px;
  text-align: right;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
#employee-div .tableContainer .tableWrap .employees-table td:last-child {
  border-bottom: 0;
}
#employee-div .tableContainer .tableWrap .employees-table td[data-title]::before {
  content: attr(data-title);
  float: left;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}
#employee-div .tableContainer .tableWrap .pagination {
  position: absolute;
  bottom: -20px;
  width: 100%;
  text-align: center;
  color: #fff;
}
#employee-div .tableContainer .tableWrap .pagination button {
  border-radius: 10px;
  border: none;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  margin: 0 10px;
  padding: 5px 10px;
  cursor: pointer;
}

@media (min-width: 768px) {
  #employee-div {
    min-height: calc(100vh - 280px);
    padding-bottom: 80px;
  }
  #employee-div .searchButton {
    display: none;
  }
  #employee-div .tableContainer .tableWrap .employee-table-length {
    top: 200px;
  }
  #employee-div .tableContainer .tableWrap #employee-searchBar {
    top: 160px;
  }
  #employee-div .tableContainer .tableWrap .table-info {
    top: 200px;
  }
  #employee-div .tableContainer .tableWrap .employees-table {
    font-size: 16px;
    padding: 0;
    border-radius: unset;
  }
  #employee-div .tableContainer .tableWrap .employees-table caption {
    padding: 50px;
    font-size: 48px;
    margin-bottom: 80px;
  }
  #employee-div .tableContainer .tableWrap .employees-table thead {
    position: relative;
    clip: auto;
    height: auto;
    width: auto;
    overflow: visible;
  }
  #employee-div .tableContainer .tableWrap .employees-table thead .listName {
    background-color: rgb(38, 137, 13);
    border: 1px solid rgb(134, 188, 37);
    font-weight: normal;
    text-align: center;
    color: white;
    padding: 10px;
    cursor: pointer;
  }
  #employee-div .tableContainer .tableWrap .employees-table thead .listName.is-active.asc::after {
    content: " ↓";
  }
  #employee-div .tableContainer .tableWrap .employees-table thead .listName.is-active.desc::after {
    content: " ↑";
  }
  #employee-div .tableContainer .tableWrap .employees-table thead .listName.not-active::after {
    content: " ⇅";
    opacity: 0.4;
  }
  #employee-div .tableContainer .tableWrap .employees-table tbody {
    display: table-row-group;
  }
  #employee-div .tableContainer .tableWrap .employees-table tbody td {
    text-align: center;
    border-left: 1px solid rgb(134, 188, 37);
    border-bottom: 1px solid rgb(134, 188, 37);
  }
  #employee-div .tableContainer .tableWrap .employees-table tbody td:last-child {
    border-right: 1px solid rgb(134, 188, 37);
    border-bottom: 1px solid rgb(134, 188, 37);
  }
  #employee-div .tableContainer .tableWrap .employees-table tbody tr:nth-of-type(even) {
    background-color: rgba(0, 143, 7, 0.12);
  }
  #employee-div .tableContainer .tableWrap .employees-table tr {
    display: table-row;
  }
  #employee-div .tableContainer .tableWrap .employees-table td,
  #employee-div .tableContainer .tableWrap .employees-table th {
    display: table-cell;
    padding: 10px;
    vertical-align: middle;
  }
  #employee-div .tableContainer .tableWrap .employees-table td[data-title]::before {
    content: none;
  }
  #employee-div .tableContainer .tableWrap .pagination {
    bottom: -50px;
  }
}
@media (min-width: 1024px) {
  #employee-div .tableContainer .tableWrap .employees-table th {
    white-space: nowrap;
  }
}