#employee-div {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 140px);
  justify-content: center;
  align-items: start;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(0, 217, 90, 1) 100%,
    rgba(237, 221, 83, 1) 100%
  );

  .employees-table {
    width: 100%;
    max-width: 1200px;
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    border-spacing: 0;

    caption {
      margin-bottom: 16px;
      font-size: 22px;
      font-weight: 800;
      text-align: center;
      color: white;
    }

    thead {
      position: absolute;
      clip: rect(1px, 1px, 1px, 1px);
      padding: 0;
      border: 0;
      height: 1px;
      width: 1px;
      overflow: hidden;
    }

    /* MOBILE: tout en blocs */
    tbody,
    tr,
    th,
    td {
      display: block;
      padding: 0;
      text-align: left;
      white-space: normal;
    }

    tbody tr {
      margin-bottom: 16px;
      border: 1px solid rgba(134, 188, 37, 1);
      background-color: rgba(255, 255, 255, 1);
    }

    td {
      padding: 10px;
      text-align: right;
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);

      &:last-child {
        border-bottom: 0;
      }

      &[data-title]::before {
        content: attr(data-title);
        float: left;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.54);
      }
    }
  }

  @media (min-width: 768px) {
    #employee-div {
      min-height: calc(100vh - 200px);
    }
    .employees-table {
      font-size: 16px;
      padding: 0;
      border-radius: unset;

      caption {
        padding: 50px;
        font-size: 48px;
      }

      thead {
        position: relative;
        clip: auto;
        height: auto;
        width: auto;
        overflow: visible;

        th {
          background-color: rgba(38, 137, 13, 1);
          border: 1px solid rgba(134, 188, 37, 1);
          font-weight: normal;
          text-align: center;
          color: white;
          padding: 10px;
        }
      }

      tbody {
        display: table-row-group;

        td {
          text-align: center;
          border-left: 1px solid rgba(134, 188, 37, 1);
          border-bottom: 1px solid rgba(134, 188, 37, 1);

          &:last-child {
            border-right: 1px solid rgba(134, 188, 37, 1);
            border-bottom: 1px solid rgba(134, 188, 37, 1);
          }
        }

        tr:nth-of-type(even) {
          background-color: rgba(0, 143, 7, 0.12);
        }
      }

      tr {
        display: table-row;
      }

      td,
      th {
        display: table-cell;
        padding: 10px;
        vertical-align: middle;
      }

      td[data-title]::before {
        content: none;
      }
    }
  }
}
