* {
  margin: 0;
}
.siteHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;

  img {
    height: 100px;
  }

  .linkHeader {
    width: 80px;
    display: flex;
    justify-content: end;
    align-items: center;

    a {
      text-decoration: none;
      font-size: 16px;
      font-weight: 600;
      text-align: end;
      color: green;

      &:hover {
        color: rgb(41, 68, 0);
      }
    }
  }
}

@media (min-width: 768px) {
  .siteHeader {
    padding: 20px 40px;

    img {
      height: 160px;
    }

    .linkHeader {
      width: 210px;

      a {
        font-size: 22px;
      }
    }
  }
}
