.siteHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;

    img {
        max-height: 170px;
    }

    .linkHeader {
        width: 210px;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            text-decoration: none;
            font-size: 22px;
            font-weight: 600;
            color: green;

            &:hover {
                color: rgb(41, 68, 0);
            }
        }
    }
}